*,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

.navbar1 {
    background-color: cadetblue;
    width: 100%;
    height:10vh;
}

.ul-navbar{
display: flex;
height: 50px;
justify-content: center;
align-items: center;
}

.li-navbar{
list-style-type: none;
padding: 5px;
margin: 20px;
color: white;
font-size: 15px;
}

.li-navbar:hover {
background-color: blueviolet;
transition: .5s ease-in-out;
transition-delay: .1s;
border-radius: 10px;
}

.a-navbar {
    color:white;
    text-decoration: none;
}

.content1 {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.img-content {
    width: 1300px;
    height: 480px;
}

.content2 {
    height: 80vh;
}
    
.img-content2 {
    width: 200px;
    height: 200px;
}
    
.content3 {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.img-content3 {
    width: 200px;
    height: 200px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
}

.a-content3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img-content4 {
    width: 100px;
    height: 100px;
    text-decoration: none;
    display: flex;
    justify-content: right;
    align-items: self-end;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
}

.a-content4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer1 {
    height: 10vh;
background-color: cadetblue;
display: flex;
justify-content: center;
align-items: center;
}

.h1-footer {
font-size: 30px;
color:white
}